

.reveal h1 {
	color:#8F5755;
	text-transform: none;
}

.reveal h2{
	color:#DBC8B9;
	text-transform: none;
}

body  {
  background-color: #D95838;
 }

.reveal p {
  color:; }

.reveal .p2{
	text-align: right;
}

.reveal .image img{
	border: 0px;
    box-shadow: 0px 0px 0px;
    background: none;

}

.reveal .linkn {
	color:#DBC8B9;
}


.reveal .slides div.top-left{
	position:absolute;
	margin:0;
	clear:both;
}

.reveal .slides div.bottom-right{
	position: absolute;
	bottom: -1500%;
	right: 0px;
	margin:0;
}


.reveal .slides .titulo{
	position:absolute;
	top:-35%;
	left:0px;
	margin:0;
	clear:both;
}


.reveal .slides.text{
	position: absolute;
	margin:0;
}